body {
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: #E6E4DA;
    font-weight: 400;
    margin: 0;
   }
  
   header {
    display: flex;
    background-color: #E6E4DA;
    padding: 30px;
    font-size: 36px;
    font-family: neonoir, sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-content: center;
    text-align: flex;
   }

   .flex-padre {
    display: flex;
    background-color: white;
    border-radius: 12px;
    gap: 18px;
    margin: 18px;
   }

   .flex-hijo {
    display: flex;
    margin: 12px;
    flex-direction: column;
   }

   .flex-nieto {
    display: flex;
    margin: 12px;
    flex-direction: row;
   }

  /* TITLES */

   .titles-style {
     color: #004673;
     border-radius: 0px;
     font-family: 'Quicksand', sans-serif;
     
     padding: 6px;
    }

    /* STYLES */
    .Neonoir-font {
      font-family: neonoir, sans-serif;
    }

    .quicksand-font {
      font-family: 'Quicksand', sans-serif;
    }

  /* COLOR BOXES */
  .pattern-color {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .bg-color-blue {
    background-color: #004673;
  }
  
  .bg-color-pink {
    background-color: #EA4B6E;
  }
  
  .bg-color-green {
    background-color: #0D7438;
  }
  
  .bg-color-yellow {
    background-color: #FAB911;
  }
  
  .bg-color-grey {
    background-color: #E6E4DA;
  }
  
  .bg-color-light-blue {
    background-color: #A5D2EB;
  }
  
  
  /* BUTTONS */
  li {
    display: inline-block; 
    margin: 0px; 
    padding: 0px;
  }
  
  .nav a {
    background-color: pink;
    padding: 6px;
    margin: 0px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: #E6E4DA;
  }
  
  button:hover,
  button,
  .btn {
    display: inline-block;
    padding: 0 20px;
    background-color: #FAB911;
    text-decoration: none;
    color: white;
    border: 1px solid #E6E4DA;
    line-height: 2; 
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #E6E4DA;
  }
  
  .btn--secondary {
    background-color: #E6E4DA;
    color: #1e1e1e;
  }
  .btn--secondary:hover {
    background-color: white;
  }
  
  